<!DOCTYPE html>
<html lang="fr">
<head>
    <title>GAC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="main_style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="dark-theme">
<div id="app" class="container-full py-5">
    <h1 class="text-center text-bold">GAC - Giant Abyss Calculator v1.1</h1>
    <button class="btn btn-primary" id="theme-toggle" onclick="toggleDarkTheme()"><i id="theme-icon" class="fas fa-moon"></i></button>
    <div class="form-row">
        <div class="col-md-3">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingPrilea" data-toggle="collapse" data-target="#collapsePrilea"
                    aria-expanded="false" aria-controls="collapsePrilea">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Prilea</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapsePrilea" class="collapse" aria-labelledby="collapsePrilea">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="prileaAtk">Runes ATK</label>
                                    <input type="number" class="form-control" id="prileaAtk" v-model.number="prileaAtk">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="prileaCDmg">Runes CDmg</label>
                                    <input type="number" class="form-control" id="prileaCDmg" v-model.number="prileaCDmg">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="prileaSpd">Runes SPD</label>
                                    <input type="number" class="form-control" id="prileaSpd" v-model.number="prileaSpd">
                                </div>

                                <div class="form-group col-md-12">
                                    <div v-for="(item, index) in prileaArtifact" :key="index" class="input-group mb-3">
                                        <div class="col-md-9 p-0">
                                            <select class="custom-select" id="inputGroupSelectPrilea" v-model="item.selected">
                                                <option v-for="option in options" :key="option.value" :value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pl-2 pr-0">
                                            <input type="text" class="form-control" v-model="item.value">
                                        </div>
                                        <div class="input-group-append col-md-1 pl-2">
                                            <button class="btn btn-danger" type="button" @click="removeItem('prileaArtifact', index)"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-primary text-bold" @click="addItem('prileaArtifact')">+</button>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="prileaSU1">Skill Up S1</label>
                                    <input type="number" class="form-control" id="prileaSU1" v-model.number="prileaSU1" value=30>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingTeshar" data-toggle="collapse" data-target="#collapseTeshar"
                    aria-expanded="false" aria-controls="collapseTeshar">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Teshar</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseTeshar" class="collapse" aria-labelledby="collapseTeshar">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="tesharAtk">Runes ATK</label>
                                    <input type="number" class="form-control" id="tesharAtk" v-model.number="tesharAtk">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tesharCDmg">Runes CDmg</label>
                                    <input type="number" class="form-control" id="tesharCDmg" v-model.number="tesharCDmg">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tesharSpd">Runes SPD</label>
                                    <input type="number" class="form-control" id="tesharSpd" v-model.number="tesharSpd">
                                </div>

                                <div class="form-group col-md-12">
                                    <div v-for="(item, index) in tesharArtifact" :key="index" class="input-group mb-3">
                                        <div class="col-md-9 p-0">
                                            <select class="custom-select" id="inputGroupSelectTeshar" v-model="item.selected">
                                                <option v-for="option in options" :key="option.value" :value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pl-2 pr-0">
                                            <input type="text" class="form-control" v-model="item.value">
                                        </div>
                                        <div class="input-group-append col-md-1 pl-2">
                                            <button class="btn btn-danger" type="button" @click="removeItem('tesharArtifact', index)"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-primary text-bold" @click="addItem('tesharArtifact')">+</button>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="tesharSU1">Skill Up S1</label>
                                    <input type="number" class="form-control" id="tesharSU1" v-model.number="tesharSU1" value=30>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tesharSU3">Skill Up S3</label>
                                    <input type="number" class="form-control" id="tesharSU3" v-model.number="tesharSU3" value=30>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingHomunculus" data-toggle="collapse" data-target="#collapseHomunculus"
                    aria-expanded="false" aria-controls="collapseHomunculus">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Homunculus</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseHomunculus" class="collapse" aria-labelledby="collapseHomunculus">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="homunculusAtk">Runes ATK</label>
                                    <input type="number" class="form-control" id="homunculusAtk" v-model.number="homunculusAtk">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="homunculusCDmg">Runes CDmg</label>
                                    <input type="number" class="form-control" id="homunculusCDmg" v-model.number="homunculusCDmg">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="homunculusSpd">Runes SPD</label>
                                    <input type="number" class="form-control" id="homunculusSpd" v-model.number="homunculusSpd">
                                </div>
                                <div class="form-group col-md-12">
                                    <div v-for="(item, index) in homunculusArtifact" :key="index" class="input-group mb-3">
                                        <div class="col-md-9 p-0">
                                            <select class="custom-select" id="inputGroupSelectHomunculus" v-model="item.selected">
                                                <option v-for="option in options" :key="option.value" :value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pl-2 pr-0">
                                            <input type="text" class="form-control" v-model="item.value">
                                        </div>
                                        <div class="input-group-append col-md-1 pl-2">
                                            <button class="btn btn-danger" type="button" @click="removeItem('homunculusArtifact', index)"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-primary text-bold" @click="addItem('homunculusArtifact')">+</button>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="homunculusSU2">Skill Up S2</label>
                                    <input type="number" class="form-control" id="homunculusSU2" v-model.number="homunculusSU2" value=30>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingLuna" data-toggle="collapse" data-target="#collapseLuna"
                    aria-expanded="false" aria-controls="collapseLuna">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Luna</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseLuna" class="collapse" aria-labelledby="collapseLuna">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="lunaAtk">Runes ATK</label>
                                    <input type="number" class="form-control" id="lunaAtk" v-model.number="lunaAtk">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="lunaCDmg">Runes CDmg</label>
                                    <input type="number" class="form-control" id="lunaCDmg" v-model.number="lunaCDmg">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="lunaSpd">Runes SPD</label>
                                    <input type="number" class="form-control" id="lunaSpd" v-model.number="lunaSpd">
                                </div>

                                <div class="form-group col-md-12">
                                    <div v-for="(item, index) in lunaArtifact" :key="index" class="input-group mb-3">
                                        <div class="col-md-9 p-0">
                                            <select class="custom-select" id="inputGroupSelectLuna" v-model="item.selected">
                                                <option v-for="option in options" :key="option.value" :value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 pl-2 pr-0">
                                            <input type="text" class="form-control" v-model="item.value">
                                        </div>
                                        <div class="input-group-append col-md-1 pl-2">
                                            <button class="btn btn-danger" type="button" @click="removeItem('lunaArtifact', index)"><i class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-primary text-bold" @click="addItem('lunaArtifact')">+</button>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="lunaSU1">Skill Up S1</label>
                                    <input type="number" class="form-control" id="lunaSU1" v-model.number="lunaSU1" value=30>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lunaSU3">Skill Up S3</label>
                                    <input type="number" class="form-control" id="lunaSU3" v-model.number="lunaSU3" value=20>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingKonamiya" data-toggle="collapse" data-target="#collapseKonamiya"
                    aria-expanded="false" aria-controls="collapsePrilea">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Konamiya</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseKonamiya" class="collapse" aria-labelledby="collapseKonamiya">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="konamiyaSpd">Runes SPD</label>
                                    <input type="number" class="form-control" id="konamiyaSpd" v-model.number="konamiyaSpd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingFights" data-toggle="collapse" data-target="#collapseFights"
                    aria-expanded="true" aria-controls="collapseFights">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Fights</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseFights" class="collapse" aria-labelledby="collapseFights">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="fightsAmount">Sets amount</label>
                                    <input type="number" class="form-control" id="fightsAmount" v-model.number="fightsAmount" value=6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-3 dark-theme">
                <div class="card-header color-input" id="headingTotems" data-toggle="collapse" data-target="#collapseTotems"
                    aria-expanded="false" aria-controls="collapseTotems">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Totems</div>
                        <i class="fas fa-chevron-up"></i>
                    </h5>
                </div>
                <div id="collapseTotems" class="collapse" aria-labelledby="collapseTotems">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="totemAtk">ATK</label>
                                    <input type="number" class="form-control" id="totemAtk" v-model.number="totemAtk" value=20>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="totemAtkWind">ATK Wind</label>
                                    <input type="number" class="form-control" id="totemAtkWind" v-model.number="totemAtkWind" value=21>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="totemAtkDark">ATK Dark</label>
                                    <input type="number" class="form-control" id="totemAtkDark" v-model.number="totemAtkDark" value=21>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="totemSpd">SPD</label>
                                    <input type="number" class="form-control" id="totemSpd" v-model.number="totemSpd" value=15>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="totemCDmg">CDmg</label>
                                    <input type="number" class="form-control" id="totemCDmg" v-model.number="totemCDmg" value=25>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="card my-3 dark-theme">
                <div class="card-header color-calculations collapsed" id="headingBattleStats" data-toggle="collapse" data-target="#collapseBattleStats"
                    aria-expanded="false" aria-controls="collapseBattleStats">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Battle Stats</div>
                        <i class="fas fa-chevron-down"></i>
                    </h5>
                </div>
                <div id="collapseBattleStats" class="collapse" aria-labelledby="collapseBattleStats">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div>
                                    Prilea
                                        <div>- ATK : {{ prileaAtkTotal }}</div>
                                        <div>- CDmg : {{ prileaCDmgTotal }}</div>
                                        <div>- SPD : {{ prileaSpdTotal }}</div>
                                </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                    Teshar
                                        <div>- ATK : {{ tesharAtkTotal }}</div>
                                        <div>- CDmg : {{ tesharCDmgTotal }}</div>
                                        <div>- SPD : {{ tesharSpdTotal }}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                    Konamiya
                                        <div>- SPD : {{ konamiyaSpdTotal }}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                    Luna
                                        <div>- ATK : {{ lunaAtkTotal }}</div>
                                        <div>- CDmg : {{ lunaCDmgTotal }}</div>
                                        <div>- SPD : {{ lunaSpdTotal }}</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                    Homunculus
                                        <div>- ATK : {{ homunculusAtkTotal }}</div>
                                        <div>- CDmg : {{ homunculusCDmgTotal }}</div>
                                        <div>- SPD : {{ homunculusSpdTotal }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card my-3 dark-theme">
                <div class="card-header color-calculations collapsed" id="headingDamages" data-toggle="collapse" data-target="#collapseDamages"
                    aria-expanded="false" aria-controls="collapseDamages">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <div class="text-bold">Damages</div>
                        <i class="fas fa-chevron-down"></i>
                    </h5>
                </div>
                <div id="collapseDamages" class="collapse" aria-labelledby="collapseDamages">
                    <div class="card mt-1 dark-theme-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div>
                                        Teshar{{ calculateAllDmg() }}
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th v-for="(header, index) in columnTeshar" :key="index">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(row, index) in allDmgTeshar" :key="index">
                                                    <td>{{ rowTeshar[index] }}</td>
                                                    <td v-for="(cell, cellIndex) in row" :key="cellIndex">{{ cell }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <div>
                                        Prilea
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th v-for="(header, index) in columnPrilea" :key="index">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(row, index) in allDmgPrilea" :key="index">
                                                    <td>{{ rowPrilea[index] }}</td>
                                                    <td v-for="(cell, cellIndex) in row" :key="cellIndex">{{ cell }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                        Luna
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th v-for="(header, index) in columnLuna" :key="index">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(row, index) in allDmgLuna" :key="index">
                                                    <td>{{ rowLuna[index] }}</td>
                                                    <td v-for="(cell, cellIndex) in row" :key="cellIndex">{{ cell }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div>
                                        Homunculus
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th v-for="(header, index) in columnHomunculus" :key="index">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(row, index) in allDmgHomunculus" :key="index">
                                                    <td>{{ rowHomunculus[index] }}</td>
                                                    <td v-for="(cell, cellIndex) in row" :key="cellIndex">{{ cell }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3 dark-theme">
        <div class="card-header color-results collapsed" id="headingResults" data-toggle="collapse" data-target="#collapseResults"
            aria-expanded="false" aria-controls="collapseResults">
            <h5 class="mb-0 d-flex justify-content-between align-items-center">
                <div class="text-bold">Results</div>
                <i class="fas fa-chevron-down"></i>
            </h5>
        </div>
        <div id="collapseResults" class="collapse" aria-labelledby="collapseResults">
            <div class="card mt-1 dark-theme-card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div>
                                <h5 class="text-bold">SPD (Prilea → Teshar → Konamiya → Luna → Homunculus)</h5>
                                <div class="text-larger" :style="{color: tesharSpdComparison.conditionMet ? '#58f000' : 'red'}">
                                    {{ prileaSpdComparison.text }}
                                </div>
                                <div class="text-larger" :style="{color: tesharSpdComparison.conditionMet ? '#58f000' : 'red'}">
                                    {{ tesharSpdComparison.text }}
                                </div>
                                <div class="text-larger" :style="{color: konamiyaSpdComparison.conditionMet ? '#58f000' : 'red'}">
                                    {{ konamiyaSpdComparison.text }}
                                </div>
                                <div class="text-larger" :style="{color: lunaSpdComparison.conditionMet ? '#58f000' : 'red'}">
                                    {{ lunaSpdComparison.text }}
                                </div>
                                <div class="text-larger" :style="{color: homunculusSpdComparison.conditionMet ? '#58f000' : 'red'}">
                                    {{ homunculusSpdComparison.text }}
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group col-md-12">
                            <div>
                                <h5 class="text-bold">Turn order (7% atb precision)</h5>
                                <div class="col-12 scrollable-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th :style="{backgroundColor: '#0c61a4', color: '#EBEBEB'}">Tick {{ tickSpdOrder }}</th>
                                                <th v-for="(tick, index) in reducedAllTicks" :key="'Tick-' + index" :style="{backgroundColor: '#0c61a4', color: '#EBEBEB'}">{{ tick[0] }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Prilea ({{ prileaSpdTotal }})</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Prilea-' + index" :style="{backgroundColor: tick[1] === getMaxColumn(index) ? '#43b004' : '', color: tick[1] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[1]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Teshar ({{ tesharSpdTotal }})</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Teshar-' + index" :style="{backgroundColor: tick[2] === getMaxColumn(index) ? '#43b004' : '', color: tick[2] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[2]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Konamiya ({{ konamiyaSpdTotal }})</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Konamiya-' + index" :style="{backgroundColor: tick[3] === getMaxColumn(index) ? '#43b004' : '', color: tick[3] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[3]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Luna ({{ lunaSpdTotal }})</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Luna-' + index" :style="{backgroundColor: tick[4] === getMaxColumn(index) ? '#43b004' : '', color: tick[4] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[4]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Golem (169)</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Golem-' + index" :style="{backgroundColor: tick[5] === getMaxColumn(index) ? '#43b004' : '', color: tick[5] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[5]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Homunculus ({{ homunculusSpdTotal }})</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Homunculus-' + index" :style="{backgroundColor: tick[6] === getMaxColumn(index)? '#43b004' : '', color: tick[6] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[6]).toFixed(4) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Giant (90)</td>
                                                <td v-for="(tick, index) in reducedAllTicks" :key="'Giant-' + index" :style="{backgroundColor: tick[7] === getMaxColumn(index) ? '#43b004' : '', color: tick[7] === getMaxColumn(index) ? '#1b1b1b' : '' }">{{ parseFloat(tick[7]).toFixed(4) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-larger" :style="{color: correct_turn_order ? '#58f000' : 'red'}">
                                    {{ reason }}
                                </div>
                             </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div>
                                <h5 class="text-bold">Damages</h5>
                                <div class="text-larger" :style="{color: w1Dmg().dmgEnough ? '#58f000' : 'red'}">
                                    - W1 : {{ w1Dmg().detail }}
                                </div>
                                <div class="text-larger" :style="{color: w2Dmg().dmgEnough ? '#58f000' : 'red'}">
                                    - W2 : {{ w2Dmg().detail }}
                                </div>
                                <div class="text-larger" :style="{color: w3Dmg().dmgEnough ? '#58f000' : 'red'}">
                                    - W3 : {{ w3Dmg().detail }}
                                </div>
                                <div class="text-larger" :style="{color: w4Dmg().dmgEnough ? '#58f000' : 'red'}">
                                    - W4 : {{ w4Dmg().detail }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="calculations.js"></script>
</body>
</html>